
:root {
    
--c-Color1:  #D3B8CE;
--c-Color2: #E80CBF;
--c-Color3: #D3B9B8;
--c-Color4: #EAD9BF;
}

body {
background-color: var(--c-Color4);

}

.todo {
    background: var(--c-Color4);
    width: 80vw;
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 1fr auto auto 1fr 1fr;
}
header {
grid-column: 1 / 7;
grid-row: 1 / 2;
}
.Opciones {
    
    display: grid;
    grid-column: 1 / 7;
    height: 20vh;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 10px;
    grid-row: 2 / 3;
    text-align: center;
    vertical-align: middle;
    line-height: 220px;
    font-size: 40px;
    
    
    
}
.Opciones li {
    background-color: var(--c-Color4);
    
    list-style-type: none;
}
.elegir {
    display: grid;
   
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    grid-template-columns: repeat(7,1fr);
    grid-column: 2 / 8;
    grid-gap: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 220px;
    font-size: 30px;
}
.elegir li {
   
    background: var(--c-Color4);
    
    list-style-type: none;
}
.Siguiente {
    height: 10px;
    grid-row: 4 / 5;
    grid-column: 3 / 4;
    text-align: center;
    font-size: 24px;
    
 
}
footer {
grid-column: 100%;
grid-row: 4 / 5;
}